{# <form method="post" action="{{ path('slide_delete', {'id': slide.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');"> #}
<form method="post" action="{{ path('slide_delete', {'id': slide.id}) }}" id="deleteForm">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slide.id) }}">
    <button id="delete" class="btn-spacing mdl-button mdl-button--icon mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--red mdl-color-text--white">
        <i class="material-icons">delete</i>
    </button>
</form>