{% extends "admin/base_admin.html.twig" %}

{% block title %}
    New Slide
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <header>
                    <h2>New</h2>
                    <div>
                        <a class="btn btn-pill btn-default u-posRelative" href="{{ path('slide_index') }}">
                            <i class="fa fa-list "></i>
                        </a>
                    </div>
                </header>
                <div class="hide id" data-id-file="{{form.file.vars.id}}"></div>

                {{ include('slide/_form.html.twig') }}

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var file = document.querySelector('.id');
            var id = file.dataset.idFile;

            $('#' + id).fileinput({
                language: 'fr',
                allowedFileExtensions: [
                    'jpg', 'png', 'gif'
                ],
                showCaption: true,
                showPreview: true,
                showRemove: true,
                showUpload: false,
                showCancel: true,
                showUploadedThumbs: true
            });
            $('.select2').select2({
                //    placeholder: 'Select an option'
            });
            $('.select2').val(null);
            $('.select2').trigger('change');
        });
    </script>
{% endblock %}