{% extends "admin/base_admin.html.twig" %}

{% block title %}
 Slide
{% endblock %}
{% set side_home = side_home | merge({'home': true}) %}
{% set side_home = side_home | merge({'slide': true}) %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <header>
                    <h3>Slide | Nouveau
                    </h3>
                    <div>
                        <a class=" btn-spacing mdl-button mdl-js-button mdl-button--icon mdl-button--fab  mdl-js-ripple-effect" href="{{ path('slide_index') }}">
                            <i class="material-icons">list</i>
                        </a>
                    </div>
                </header>

                {{ include('slide/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('slide/_js.html.twig') }}
{% endblock %}