{% extends "base_admin.html.twig" %}

{% block title %}
    HOME ADMIN
{% endblock %}
{% block body %}


        <div class="widget-conten">
            <ul class="quick-actions">
                <li class="bg_lb span3">
                    <a href="#">
                        <i class="icon-book"></i>
                        icon-book
                    </a>
                </li>
                <li class="bg_lg">
                    <a href="#">
                        <i class="icon-tasks"></i>
                        icon-cabinet</a>
                </li>

            </ul>


        </div>
{% endblock %}