{% extends "base.html.twig" %}

{% block title %}
    HOME CLIENT
{% endblock %}
{% block body %}

    <h1>Page client</h1>
    <p>
        <a href="logout">
            Se déconnecter</a>
    </p>
{% endblock %}