{% extends "admin/base_admin.html.twig" %}

{% block title %}
    Edit Post
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <header>
                    <h2>Edit</h2>
                    <div>
                        <a class="btn btn-pill btn-default u-posRelative" href="{{ path('post_index') }}">
                            <i class="fa fa-list "></i>
                        </a>
                    </div>
                    <div>
                        {{ include('post/_delete_form.html.twig') }}
                    </div>
                </header>
                <div class="hide id" data-id-file="{{form.file.vars.id}}"></div>

                {{ include('post/_form.html.twig', {'button_label': 'Enregistrer'}) }}

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var file = document.querySelector('.id');
            var id = file.dataset.idFile;

            $('textarea').summernote();
            $('#' + id).fileinput({
                language: 'fr',
                allowedFileExtensions: ['jpg', 'png', 'gif']
            });
        });
    </script>
{% endblock %}